@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #282938;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#mode-btn {
  border: none;
  background-color: transparent;
}

.mode__img {
  width: 30px;
  height: 30px;
}

#navbar-responsive {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  gap: 50px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F2F0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__toogle__item {
  padding: 15px 30px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  font-family: Manrope;
  background-color: #FFD2A4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__toogle__item:hover {
  -webkit-box-shadow: 0px 0px 5px 5px #161722;
          box-shadow: 0px 0px 5px 5px #161722;
}

#navbar-open {
  border: none;
  background-color: transparent;
}
@media (min-width: 1300px) {
  #navbar-open {
    display: none;
  }
}
#navbar-open .navbar__img {
  width: 30px;
  height: 30px;
}

#navbar-close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
}
#navbar-close img {
  width: 40px;
  height: 40px;
}

#backtop {
  border-radius: 12px;
  z-index: 99;
  border: none;
  position: fixed;
  outline: none;
  right: 20px;
  bottom: -70px;
  background-color: #FFD2A4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#backtop img {
  margin: 15px 10px;
  width: 30px;
  height: 30px;
}

#backtop.backtop-show {
  bottom: 50px;
}

.container {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  font-family: "Poppins";
}

#navbar {
  width: 100vw;
  background: #1C1E53;
  position: fixed;
  z-index: 10;
  padding-left: 80px;
  gap: 30px;
  margin-top: 0;
}
#navbar .nav-link {
  position: relative;
  left: 300px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: aliceblue;
}
#navbar ul {
  gap: 10px;
}
#navbar button {
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  position: relative;
  right: 50px;
  color: azure;
  margin-left: 400px;
}

.title {
  text-align: center;
  padding-top: 128px;
}
.title h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.title p, .title h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  max-width: 562px;
  height: 56px;
  opacity: 0.7;
  margin-left: 450px;
}
.title h2 {
  position: relative;
  top: 30px;
}

header {
  background: #F4F6FC;
  padding-bottom: 128px;
}

.header__icons {
  margin-top: 32px;
  margin-left: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}

.nav {
  width: 500px;
  margin-left: 500px;
  margin-top: 100px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 623px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card h3 {
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.card a {
  color: #000;
}

.portfolio, .ull, .web {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.figma {
  margin-left: 400px;
  margin-top: 50px;
}

.conclusion {
  margin-left: 400px;
  margin-right: 400px;
  padding-top: 128px;
  padding-bottom: 128px;
}
.conclusion h2 {
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 20px;
}
.conclusion p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.7;
  text-align: center;
}
.conclusion button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 64px;
  padding: 16px 67px 16px 66px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 41px;
  background: #FCD980;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-top: 40px;
  margin-left: 230px;
}

.footer {
  max-width: 100vw;
  margin-left: -20px;
  margin-right: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1C1E53;
  padding-top: 104px;
  padding-left: 100px;
  padding-bottom: 92px;
  margin-top: 128px;
}
.footer .footer__left p {
  margin-top: 23px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #Fff;
  width: 400px;
  height: 56px;
}

.footer__right {
  margin-left: 256px;
}
.footer__right h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  color: #Fff;
}
.footer__right p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #F4F6FC;
  max-width: 399px;
}

.footer__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  margin-top: 28px;
}

.footer__flier {
  margin-top: 86px;
  background: #FCD980;
  color: #282938;
  width: 517px;
  height: 95px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 18px 137px 17px 37px;
}
.footer__flier h1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.footer__flier h1 span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}