@use "../base/fonts";
@use "../base/reset";
@use "../layout/container";

* {
    font-family: "Poppins";
}
#navbar {
width: 100vw;
background: #1C1E53;
position: fixed;
z-index: 10;
padding-left: 80px;
gap: 30px;
margin-top: 0;
.nav-link {
position: relative;
left: 300px;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
color: aliceblue;
}
ul {
gap: 10px;
}
button {
padding: 16px 48px;
border-radius: 41px;
border: 2px solid rgba(244, 246, 252, 0.20);
position: relative;
right: 50px;
color: azure;
margin-left: 400px;
}
}
.title {
text-align: center;
padding-top: 128px;
h1 {
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px;
    }
p, h2 {
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
max-width: 562px;
height: 56px;
opacity: 0.7;
margin-left: 450px;
    }
h2{
position: relative;
top: 30px;
    }
}
header{
background:#F4F6FC;
padding-bottom: 128px;
}
.header__icons{
margin-top:32px;
margin-left:650px;
display: flex;
gap: 27px;
}
.nav{
width: 500px;
margin-left: 500px;
margin-top: 100px;
}
.card{
display: flex;
width: 623px;
justify-content: center;
align-items: center;
h3{
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 56px;
}
p{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
opacity: 0.7;
}
a{
color: #000;
}
}
.portfolio, .ull, .web{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 50px;
margin-left: 100px;
margin-right: 100px;
margin-top: 50px;
}
.figma{
margin-left: 400px;
margin-top: 50px;
}
.conclusion{
margin-left: 400px;
margin-right: 400px;
padding-top: 128px;
padding-bottom: 128px;
h2{
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 64px;
margin-bottom: 20px;
}
p{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
opacity: 0.7;
text-align: center;
}
button {
display: flex;
width: 250px;
height: 64px;
padding: 16px 67px 16px 66px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 41px;
background: #FCD980;        
color: black;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 32px;
margin-top:40px;
margin-left: 230px;
}

}
.footer {
    max-width: 100vw;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    background-color: #1C1E53;
    padding-top: 104px;
    padding-left: 100px;
    padding-bottom: 92px;
    margin-top: 128px;

    .footer__left {
        p {
            margin-top: 23px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            color: #Fff;
            width: 400px;
            height: 56px;
        }
    }
}

.footer__right {
    margin-left: 256px;

    h2 {
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px;
        color: #Fff;
    }

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        color: #F4F6FC;
        max-width: 399px;
    }
}

.footer__images {
    display: flex;
    gap: 26px;
    margin-top: 28px;
}

.footer__flier {
    margin-top: 86px;
    background: #FCD980;
    color: #282938;
    width: 517px;
    height: 95px;
    flex-shrink: 0;
    display: flex;
    gap: 30px;
    padding: 18px 137px 17px 37px;

    h1 {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;

        span {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }
    }
}